.newtopic-intro-wrap {
    border-radius: 20px;
    padding: 20px;
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: lightgray;
}

.newtopic-form-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    border-radius: 20px;
    margin: 20px 0;
    padding: 40px;
    font-family: Verdana, sans-serif;
}

.newtopic-form-wrap form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newtopic-form-wrap input {
    border: 1px solid black;
}

.newtopic-form-wrap button {
    border: none;
    border-radius: 10px;
    background-color: lightgray;
    padding: 10px;
    font-family: Verdana, sans-serif;
}